.blue {
  color: rgb(28, 112, 168);
}

.Button {
  background-color: rgba(0, 100, 0, 0.8);
  font: inherit;
  color: white;
  padding: 8px;
  cursor: pointer;
}
.Button.Red {
  background-color: rgba(139, 23, 23, 1);
}

.Button:hover {
  background-color: rgba(0, 100, 0, 1);
}
.Button.Red:hover {
  background-color: rgba(139, 23, 23, 0.8);
}
