.Person input {
  width: 60%;
}

.Person {
  width: 60%;
  margin: 16px auto;
  background: rgba(175, 184, 53, 0.432);
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.deleteButton {
  cursor: pointer;
  font-weight: bold;
}

.deleteButton:hover {
  color: rgb(81, 47, 143);
}

@media (min-width: 700px) {
  .Person {
    width: 600px;
  }
}
